body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
}

#selectable-1 .ui-selecting {
	background: lightcoral;
}

#selectable-1 .ui-selected {
	background: lightgreen;
	color: #000000;
}

.selectable-2 .ui-selecting {
	background: lightcoral;
}

.selectable-2 .ui-selected {l;
	background: lightgreen;
	color: #000000;
}

#selectable-1 {
	margin-left: 28px;	
	margin-top: 10px;
	width: 400px;
	height: 400px;
    border-radius: 0px;	
	padding: 0;    
	border: solid 1px #BB1919;	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    opacity: 0.85;
	float: left;
	overflow:auto;
}
.selectable-2 {
margin-top: 10px;
}

.cashslip {
	background: #cedc98;
	border: 1px solid #DDDDDD;
	color: #333333;
	width: 380px;
	border-collapse: collapse;
}

.cashslip td, .cashslip th {
	font-size: 1.1em;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

.cashslip th {
	font-size: 1.4em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: #fff;
}

#tableFooter {
	font-weight: bold;
	text-align: right;
}
